[submodule ".config/nvim"]
	path = .config/nvim
	url = git@github.com:juanpcapurro/vimfiles.git
[submodule ".nvm"]
	path = .nvm
	url = https://github.com/creationix/nvm.git
[submodule "src/st"]
	path = src/st
	url = git@github.com:juanpcapurro/st.git
[submodule "src/st"]
	path = src/st
	url = git@github.com:juanpcapurro/st.git

[submodule "src/blog"]
	path = src/blog
	url = git@github.com:juanpcapurro/blog.git
[submodule "src/voidrice"]
	path = src/voidrice
	url = git@github.com:LukeSmithxyz/voidrice.git
[submodule "src/dwmblocks"]
	path = src/dwmblocks
	url = git@github.com:juanpcapurro/dwmblocks.git
[submodule "src/dwm"]
	path = src/dwm
	url = git@github.com:juanpcapurro/dwm.git
