[submodule ".config/nvim"]
	path = .config/nvim
	url = git@github.com:juanpcapurro/vimfiles.git
[submodule ".zsh/zsh-autosuggestions"]
	path = .zsh/zsh-autosuggestions
	url = git://github.com/zsh-users/zsh-autosuggestions
[submodule ".zsh/oh-my-zsh"]
	path = .zsh/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule ".zsh/zsh-syntax-highlighting"]
	path = .zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule ".fzf"]
	path = .fzf
	url = https://github.com/junegunn/fzf.git
[submodule ".nvm"]
	path = .nvm
	url = https://github.com/creationix/nvm.git
[submodule "src/keynav"]
	path = src/keynav
	url = https://github.com/jordansissel/keynav.git
