#!/bin/sh

display-auto &
remapkeyboard &

pgrep compton || compton &
blueman-applet &
which qtox && qtox &

nm-applet &
dunst &

keynav daemonize &
sxhkd &
which dwmblocks && dwmblocks &

# put in crontab if you fancy
ls ~/.assets/images/wallpapers/ |shuf -n 1 | xargs -I{} feh --bg-scale ~/.assets/images/wallpapers/{} &
