#!/bin/sh

remapkeyboard &

pgrep compton || compton &
pgrep pulseaudio || pulseaudio -D
blueman-applet &
which utox && utox &

nm-applet &
dunst &

keynav daemonize
sxhkd &
xdg-settings set default-web-browser org.qutebrowser.qutebrowser.desktop
